* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #E6E6FA;
}

/* Início do Header */

header {
    background-color: #1E90FF;
    height: 80px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

a,
a:hover {
    text-decoration: none;
    color: unset;
}

/* Fim do Header */

.bookbox-mb20 {
    margin-top: 20px;
}

.bookbox-mt20 {
    margin-top: 20px;
}

.bookbox-container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

/* card-styles */

.bookbox-card {
    border-radius: 5px;
    background-color: #FFFFFF;
}

.bookbox-line-botton {
    border-bottom: 1px solid #e0e0e0;
}

/*-------------------------------------*/

/* button-styles */

.bookbox-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookbox-review-button {
    margin: 20px 0 20px 0;
    background-color: #708090;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    height: 45px;
    width: 120px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-page-button {
    background-color: #1E90FF;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

/*-------------------------------------*/